.wrapper {
  border: solid 1px #666;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 5px;
}

.catImage div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catImage img {
  border-radius: 10px;
  overflow: auto;
  width: 100%;
  vertical-align: middle;
}

.catFactContainer {
  margin-top: 20px;
}

.catFact {
  text-align: justify;
  text-justify: inter-word;
  min-height: 80px;
  margin-top: 20px;  
  margin-bottom: 15px;
  font-size: 20px;
}

.btnNextFact {
  font-size: 18px;
  margin-top: 20px;
  min-width: 180px; 
}

.btnNextFact svg {
  width: 18px;
  height: 18px;
  margin-top: -3px;
  margin-left: 3px;
}
